* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#ptitel {
    margin-top: 2%;
    font-size: 40px;
    text-align: center;
}

#pinfo {
    margin-top: 1%;
    text-align: center;
}

h2 {
    text-align: center;
}

#h2 {
    margin-top: 2%;
}

h3 {
    margin-top: 20px;
    text-align: center;
}

p {
    font-weight:normal;
    margin-top: 20px;
    text-align: center;
}

.menucarddiv {
    border-radius: 10px;
}

#menu1-3 {
    display: grid;
    justify-content: center;
    margin: 60px;
    grid-template-columns: repeat(3);
    grid-template-areas: 
        "hea hea hea";
    row-gap: 20px;
    column-gap: 50px;
}

#item1 {
    background: lightgray;
    height: 350px;
    width: 250px;
}

#item2 {
    background: lightgray;
    height: 350px;
    width: 250px;
}

#item3 {
    background: lightgray;
    height: 350px;
    width: 250px;
}

#menu4-6 {
    display: grid;
    justify-content: center;
    margin: 60px;
    grid-template-columns: repeat(3);
    grid-template-areas: 
        "hea hea hea";
    row-gap: 20px;
    column-gap: 50px;
}

#item4 {
    background: lightgray;
    height: 350px;
    width: 250px;
}

#item5 {
    background: lightgray;
    height: 350px;
    width: 250px;
}

#item6 {
    background: lightgray;
    height: 350px;
    width: 250px;
}

#menu7-9 {
    display: grid;
    justify-content: center;
    margin: 60px;
    grid-template-columns: repeat(3);
    grid-template-areas: 
        "hea hea hea";
    row-gap: 20px;
    column-gap: 50px;
}

#item7 {
    background: lightgray;
    height: 350px;
    width: 250px;
}

#item8 {
    background: lightgray;
    height: 350px;
    width: 250px;
}

#item9 {
    background: lightgray;
    height: 350px;
    width: 250px;
}

#pizzaimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#hbfriesimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#noodlesimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#donutsimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#yoghurtimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#pancakesimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#drinksimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#fruitsimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#shakeimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}