* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    box-shadow: 0.01px 2.5px 25px rgb(132, 132, 132);
}

body {
    background-color: white;
}

a {
    color: black;
}

h1 {
    margin: 1%;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: black;
}

#indexhome {
    width: 100%;
}

#menubar {
    margin: 2.75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(8, 50px);
    grid-template-areas: 
    "a1 a2 a3 a4 a5 a6 a7";
    column-gap: 15px;
}

.button:hover {
    color: black;
}

.button {
    font-weight: 800;
    display: inline-block;
    position: relative;
}
  
.button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: #043217;
    color: white;
}

#pfooter {
    margin-top: 10px;
}

#phoneimg {
    height: 40px;
    width: 40px;
}

#emailimg {
    height: 50px;
    width: 50px;
}

#divfooter {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
}

#elma {
    font-weight: bold;
    margin-top: 65px;
    display: flex;
    justify-content: space-evenly;
}

#homeimg {
    width: 100%;
    height: 100%;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
}


#mainhomeindex {
    display: grid;
    justify-content: center;
    align-items: center;
}

#jonte {
    text-decoration: none;
}

#ptitel {
    font-size: 40px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-weight: 500;
}

#pinfo {
    font-weight: 500;
    margin-top: 2%;
    text-align: center;
    color: black;
}

#content1 {
    display: flex;
    width: auto;
    height: 2000px;
    justify-content: center;
    align-items: center;
}

#page1 {

}

#contentelma {

}

#h2elma {

}

#textelma {

}

#deerelma {
    border-radius: 50px 125px 125px 50px;
    height: 750px;
    width: 500px;
}

h2 {
    text-align: center;
}

#h2 {
    margin-top: 5%;
    color: black;
}

#h21 {
    margin-top: 2.5%;
}

#h22 {
    margin-top: 2.5%;
}

h3 {
    margin-top: 20px;
    text-align: center;
    color: white;
}

p {
    font-weight: normal;
    margin-top: 20px;
    text-align: center;
}

.elmap {
    color: white;
    font-weight: 600;
    font-size: 12px;
}

#resturangelma {
    margin-top: 3%;
}

.menucarddiv {
    border-radius: 10px;
}

#menu1-3 {
    display: grid;
    justify-content: center;
    margin: 60px;
    grid-template-columns: repeat(3);
    grid-template-areas: 
        "hea hea hea";
    row-gap: 20px;
    column-gap: 50px;
}

#item1 {
    background: #696969;
    height: 325px;
    width: 250px;
}

#item2 {
    background: #5fa754;
    height: 325px;
    width: 250px;
}

#item3 {
    background: #696969;
    height: 325px;
    width: 250px;
}

#menu4-6 {
    display: grid;
    justify-content: center;
    margin: 60px;
    grid-template-columns: repeat(3);
    grid-template-areas: 
        "hea hea hea";
    row-gap: 20px;
    column-gap: 50px;
}

#item4 {
    background: #696969;
    height: 325px;
    width: 250px;
}

#item5 {
    background: #408036;
    height: 325px;
    width: 250px;
}

#item6 {
    background: #696969;
    height: 325px;
    width: 250px;
}

#menu7-9 {
    display: grid;
    justify-content: center;
    margin: 60px;
    grid-template-columns: repeat(3);
    grid-template-areas: 
        "hea hea hea";
    row-gap: 20px;
    column-gap: 50px;
}

#item7 {
    background: #696969;
    height: 325px;
    width: 250px;
}

#item8 {
    background: #345e2d;
    height: 325px;
    width: 250px;
}

#item9 {
    background: #696969;
    height: 325px;
    width: 250px;
}

#pizzaimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#hbfriesimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#noodlesimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#donutsimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#yoghurtimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#pancakesimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#drinksimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#fruitsimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#shakeimg {
    margin-left: 12.5px;
    border-radius: 10px;
    margin-top: 12.5px;
    height: 150px;
    width: 225px;
}

#maindiv {
    margin-top: 1.5%;
}

#divmain {
    margin-top: 13%;
    display: grid;
    justify-content: center;
    height: 1000px;
}

#h2hej {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#hejp {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

form {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
}

#container {
    margin-top: 90px;
    margin-bottom: 120px;
}

#elmaa {
    font-weight: bold;
    margin-top: 65px;
    display: flex;
    justify-content: space-evenly;
}

#elmaaa {
    font-weight: bold;
    margin-top: 65px;
    display: flex;
    justify-content: space-evenly;
}

#resimg {
    width: 100%;
}

#tmimg {
    width: 100%;
}

#cnusimg {
    width: 100%;
}

#teamp {
    margin-top: 4%;
    font-size: 40px;
    text-align: center;
    color: black;
    font-weight: bold;
}

#test1 {
    margin-top: 20px;
}

#omossh1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 80px;
  color: #408036;
}

.omossh2 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #408036;
  font-weight: 800;
}

.omossp {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1em;
  font-weight: 600;
}

#omossul {
  list-style-type: none;
  padding-left: 0;
}

.omossli {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1em;
    margin-bottom: 0.5em;
}

#omossdiv1 {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

#michaelimg {
    height: 250px;
    width: 250px;
    border-radius: 300px;
    border: 10px solid #408036;
}

#pamimg {
    height: 250px;
    margin-left: 15px;
    width: 250px;
    border-radius: 300px;
    border: 10px solid #408036;
}

#jimimg {
    height: 250px;
    margin-right: 15px;
    width: 250px;
    border-radius: 300px;
    border: 10px solid #408036;
}

#jimochpam {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#test1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#omossceo {
    margin-top: 100px;
}

#omossint {
    margin-top: 100px;
}

#omossz00 {
    margin-top: 100px;
}

#dwightimg {
    height: 250px;
    width: 250px;
    border-radius: 300px;
    border: 10px solid #408036;
}

#phyllisimg {
    height: 250px;
    width: 250px;
    border-radius: 300px;
    border: 10px solid #408036;
}

#andyimg {
    height: 250px;
    width: 250px;
    border-radius: 300px;
    border: 10px solid #408036;
}

#kevinimg {
    height: 250px;
    width: 250px;
    border-radius: 300px;
    border: 10px solid #408036;
}

#meridethimg {
    height: 250px;
    width: 250px;
    border-radius: 300px;
    border: 10px solid #408036;
}

#uldiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#uldiv1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#uldiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bh1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}
  
.bp {
    margin: 20px;
    font-size: 16px;
    line-height: 1.5;
}
  
.bh2 {
    margin: 20px 0 10px;
    font-size: 18px;
    color: #333;
}
  
.bimg {
    display: block;
    margin: 0 auto;
}
  
.bdiv {
    display: flex;
    align-items: center;
    margin: 10px;
}
  
.bbutton {
    border: none;
    background: #eee;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}
  
.bbutton:hover {
    background: #ddd;
}
  
.bspan {
    margin: 0 10px;
    font-size: 16px;
}

#bokaoss {
    display: grid;
    justify-content: center;
    align-items: center;
}

#test222 {
    margin-top: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
}