* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(86, 151, 172);
}

body {
    background: white;
}

a {
    color: white;
}

#menubar {
    display: flex;
}

h1 {
    margin: 1%;
    font-size: 40px;
    text-align: center;
    color: white;
}

#menubar {
    margin: 3%;
    justify-content: space-evenly;
    display: flex;
    grid-template-columns: repeat(8, 50px);
    grid-template-areas: 
    "a1 a2 a3 a4 a5 a6 a7";
    column-gap: 15px;
}

.button:hover {
    color: white;
}

.button {
    font-weight: 550;
    display: inline-block;
    position: relative;
}
  
.button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#divmain {
    height: 1000px;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: rgb(86, 151, 172);
    color: white;
}

#pfooter {
    margin-top: 10px;
}

#phoneimg {
    height: 40px;
    width: 40px;
}

#emailimg {
    height: 50px;
    width: 50px;
}

#divfooter {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
}

#elma {
    font-weight: bold;
    margin-top: 65px;
    display: flex;
    justify-content: space-evenly;
}